# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://[USER]:[YOUR-PASSWORD]@[HOST]:[PORT]?sslmode=require&channel_binding=require"

# Log level: error, warn, info, debug, trace
LOG_LEVEL=info

# Application port (default: 3001)
PORT=3001